.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  height: 4rem;
  align-items: center;
  background-color: var(--blue);
}

.navbar-container > :nth-child(1) {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.button-53-nav {
  background-color: white;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-53-nav:focus {
  outline: 0;
}

.button-53-nav:after {
  content: "";
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-53-nav:hover:after {
  bottom: 2px;
  left: 2px;
}

@media screen and (max-width: 1000px) {
  .navbar-container > :nth-child(1) {
    font-size: 1rem;
  }

  .button-53-nav {
    font-size: 0.8rem;
    padding: 1rem;
  }
}
